/*  CUSTOM DESIGN FILE 		*/
/*  DESIGN BY: JON HAARSTAD */

body {
	background: @light-blue;
}
#main-content {
	background: @white;
	padding: 40px 20px 200px 20px;
	z-index: 50;
	h1, h2, h3, h4, h5, h6, p {
		padding-left: 20px;
		padding-right: 20px;
	}
	h4 {
		margin-top: 20px;
		color: @orange;
		font-weight: bold;
	}
	form {
		margin: 0 20px;
	}
	ul.product-listing {
		margin-left: 0;
		padding-left: 0;
		li {
			display: inline-block;
			width: 100%;
			float: left;
			padding: 2%;
			.product-pic {
				width: 16%;
				float: left;
				display: inline;
				.product-image {
					width: 100%;
				}
			}
			.product-data {
				width: 83%;
				float: right;
				display: inline;
				padding-left: 10px;
				.product-title {
					display: block;
					color: @dark-blue;
					font-size: 1.5em;
				}
				.product-manufacturer,
				.product-model-num {
					color: @gray-light;
					font-size: .8em;
					font-weight: bold;
				}
				.product-description {
					font-size: .9em;
					line-height: 135%;
					display: block;
					margin-bottom: 5px;
					margin-top: 7px;
					p {
						margin-bottom: 0;
						padding-left: 0;
						padding-right: 0;
					}
				}
				.product-quantity {
					display: block;
					color: @gray-light;
					margin-bottom: 7px;
				}
				.product-request-quote {
					a {
						display: inline;
						background: @orange;
						padding: 7px 20px 4px 10px;
						color: @white;
						font-size: 1.1em;
						span:before {
							content: "+ Request for ";
						}
					}
					a:hover {
						text-decoration: none;
						font-weight: bold;
					}
					a.active {
						background: @green;
						padding: 7px 20px 4px 10px;
						span:before {
							content: "- Queued for ";
						}
					}
				}
			}
		}
		li:nth-child(-n+2) {
			border: 1px solid @light-blue;
			width: 49%;
			-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.6);
			-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.6);
			box-shadow: 0px 0px 2px rgba(0,0,0,.6);
			.product-manufacturer,
			.product-model-num {
				display: block;
			}
			.product-pic {
				width: 34%;				
			}
			.product-data {
				width: 64%;				
			}
		}
		li:nth-child(1) {
			margin-right: 2%;
		}
		li:nth-child(n+3) {
			border-top: 1px solid @blue;
			margin-top: 20px;
			padding-top: 30px;
		}
		li:last-child {
			border-bottom: 1px solid @blue;
			padding-bottom: 30px;
		}
	}
	ul.product-listing-quote {
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 0;
		li {
			border: 1px solid @light-blue;
			list-style: none;
			background: @white;
			margin-bottom: 6px;
			padding: 20px 20px 15px 20px;
			display: inline-block;
			-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.4);
			-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.4);
			box-shadow: 0px 0px 2px rgba(0,0,0,.4);
			.product-pic {
				width: 10%;
				float: left;
				display: inline;
				.product-image {
					width: 100%;
				}
			}
			.product-data {
				width: 89%;
				float: right;
				display: inline;
				padding-left: 10px;
				.product-title {
					display: block;
					color: @dark-blue;
					font-size: 1.5em;
				}
				.product-manufacturer,
				.product-model-num {
					color: @gray-light;
					font-size: .8em;
					font-weight: bold;
				}
				.product-description {
					font-size: .9em;
					line-height: 135%;
					display: block;
					margin-bottom: 5px;
					margin-top: 7px;
					p {
						margin-bottom: 10px;
						padding-left: 0;
						padding-right: 0;
					}
					p:last-child {
						margin-bottom: 0;
					}
				}
				.product-quantity {
					display: block;
					color: @gray-light;
					margin-bottom: 7px;
				}
				.product-request-quote {
					a {
						display: inline;
						background: @orange;
						padding: 7px 15px 4px 15px;
						color: @white;
						font-weight: bold;
						font-size: .95em;
					}
				}
			}
		}
	}
}
#page-header {
	background: @white;
	border-bottom: 4px solid @orange;
	.container {
		background: url('/assets/images/background2.jpg') 200px 0px no-repeat;
		background-size: 80% auto;
		height: 103px;
		.logo-block {
			margin-left: 0;
			padding-left: 0;
		}
		h1 {
			margin: 0;
			padding: 0;
			position: absolute;
			img {
				width: 100%;
			}
		}
		.subnav {
			height:103px;
			position: relative;
			ul {
				background: @orange;
				position: absolute;
				bottom: 0;
				left: 10px;
				margin-left: 10px;
				padding-left: 0;
				margin-bottom: 0;
				width: 86%;
				li {
					padding: 8px;
					display: inline;
					a {
						color: @white;
						margin-top: 8px;
						margin-bottom: 0;
						padding: 0 20px;
						display: block;
						float: left;
						border-right: 1px solid @orange-dark;
					}
				}
				li:last-child {
					a {
						border-right: none;
					}
				}
			}
		}
		.header-phone {
			height:103px;
			position: relative;
			h2 {
				position: absolute;
				bottom: 0;
				right: 0;
				text-transform: uppercase;
				color: @blue;
				margin-bottom: 5px;
				font-size: 1.7em;
				span {
					color: @orange;
					font-weight: bold;
				}
			}
		}
	}
}
#search-bar {
	position: relative;
	background: url('/assets/images/background2.jpg') 200px -115px no-repeat;
	background-size: 80% auto;
	#search-block {
		background: @lighter-blue;
		top:17px;
		left: 20px;
		width: 43%;
		padding:10px 15px 12px;
		color: @blue;
		z-index: 100;
		font-size: .9em;
		font-weight: bold;
		-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.6);
		-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.6);
		box-shadow: 0px 0px 2px rgba(0,0,0,.6);
		white-space: nowrap;
		form {
			display: inline;
			margin-left: 5px;
			.input-search {
				width: 80%;
				padding: 5px;
				font-weight: normal;
				font-size: 1em;
			}
			.go-button {
				background: @orange;
				border: none;
				color: @white;
				position: relative;
				left:-2px;
				top:3px;
				padding: 7px 10px 4px;
				height: 32px;
				text-transform: uppercase;
				font-size: 125%;
			}
		}
	}
	#page-notifier {
		background: @blue;
		color: @white;
		position: absolute;
		right:0;
		bottom: 0;
		padding: 10px 15px 7px;
		a {
			color: @white;
			text-decoration: none;
			font-size: .9em;
			span {
				display: inline;
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
				border-radius: 100px;
				background: @green;
				padding: 6px 10px 4px;
				margin-right: 5px;
				font-weight: bold;
				text-align: center;
				font-size: 93%;
			}
		}
	}
}
#page-nav {
	background: @light-blue;
	margin-right: 0;
	padding-right: 0;
	margin-left: 0;
	padding-left: 0;
	h2 {
		text-transform: uppercase;
		font-size: 1.3em;
		color: @dark-blue;
		margin: 25px 10px 10px 10px;
	}
	p {
		margin-left: 10px;
		margin-right: 10px;
		font-size: .9em;
		line-height: 150%;
		a, a:link {
			color: @dark-blue;
			font-weight: bold;
		}
	}
	ul {
		margin-left: 0;
		padding-left: 0;
		li {
			list-style: none;
			border-bottom: 1px solid @light-blue;
			a {
				background: @dark-blue;
				display: block;
				padding: 8px 10px 5px 10px;
				color: @white;
			}
			a:hover {
				text-decoration: none;
				font-weight: bold;
			}
			ul {
				padding: 15px 0;
				li {
					a {
						background: none;
						padding: 0 0 5px 10px;
						color: @gray;
						font-weight: bold;
						font-size: 1.2em;
					}
					a:before {
						content: "+ ";
					}
					a:hover {
						color: @blue;
					}
					a.active {
						color: @dark-blue;
					}
					ul {
						margin-top: 0;
						margin-bottom: 5px;
						margin-left: 15px;
						padding-top: 0;
						li {
							a:before {
								content: "- ";
							}
							a:hover {
								color: @blue;
							}
							ul {
								margin-left: 10px;
								margin-bottom: 0;
								padding-bottom: 0;
								li {
									a {
										font-weight: normal;
										color: @dark-blue;
										font-size: 100%;
									}
									a:before {
										content: "";
									}
									a:hover {
										text-decoration: underline;
										color: @dark-blue;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#page-footer {
	background: @blue;
	padding: 15px 30px;
	p {
		color: @white;
		font-size: .8em;
		margin-bottom: 0;
	}
}